In [7]:
"""
addition 
division
multiplication
soustration
"""

'\naddition \ndivision\nmultiplication\nsoustration\n'

In [2]:
a=5
b= 3

In [3]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b) # modulus give rem
print(a**b)
print(a//b) # floor division  -- give quotien (natural number)

8
2
15
1.6666666666666667
2
125
1

In [12]:
# assignement operator : 
x = 5
 # x+=3 x-=3
x=x+3
print(x)

8

In [16]:
x =5
x+=3
print(x)

8

In [ ]:
 # comparator operator 
    
"""
equal : x==y
not equal

"""

In [1]:
x=5
y=3

print(x==y)
print(x!=y)
print(x>y)
print(x<y)

False
True
True
False

In [3]:
x =5
print(x<5 and x <10)
print(x<5 or x <10)

False
True

In [4]:
#member ship operator  in or not in 

x = " this car is a cat"

In [5]:
"cat" in x

True

In [6]:
"cat" not in x

False

In [7]:
# list 
a=[1,2,3,"cat",8,5]

In [8]:
a.append(8)

In [9]:
a

[1, 2, 3, 'cat', 8, 5, 8]

In [10]:
a.extend(["apple", "banana"])

In [11]:
a

[1, 2, 3, 'cat', 8, 5, 8, 'apple', 'banana']

In [12]:
a.insert(-3, 25) # add

In [13]:
a

[1, 2, 3, 'cat', 8, 5, 25, 8, 'apple', 'banana']

In [16]:
# pop remove et del and clear 

print(a.pop()) #remove the last element donc supprime banana
"""
pop() recoit aussi un argument de la position de l'element 
"""

apple

In [17]:
a

[1, 2, 3, 'cat', 8, 5, 25, 8]

In [19]:
# remove 
a.remove("cat")

In [20]:
a

[1, 2, 3, 8, 5, 25, 8]

In [24]:
#delv:
del a[2]  # position

In [25]:
a

[1, 2, 8, 5, 25, 8]

In [29]:
b= [1,2,3,8,5,5,6,7,88,88]

In [30]:
b.remove(5)

In [31]:
b

[1, 2, 3, 8, 5, 6, 7, 88, 88]

In [32]:
# join to list 
list1= ["one","two",3,4]
list2= ["three","four",3,4]
list3 = list1+list2
list3

['one', 'two', 3, 4, 'three', 'four', 3, 4]

In [43]:
list2.extend(list1)

In [45]:
# slicing

list3=[1,2,"cat","dog", 5,6]
list3[0:5]

[1, 2, 'cat', 'dog', 5]

In [47]:
list3[0:3]

[1, 2, 'cat']

In [48]:
list3[:]

[1, 2, 'cat', 'dog', 5, 6]

In [49]:
list3[::-1]

[6, 5, 'dog', 'cat', 2, 1]

In [50]:
list3.reverse()

In [51]:
list3

[6, 5, 'dog', 'cat', 2, 1]

In [52]:
# sorting 
list4=[1,2,3,78,9,63,15,14,23,1]

In [53]:
list4.sort()

In [54]:
list4

[1, 1, 2, 3, 9, 14, 15, 23, 63, 78]

In [55]:
list4.sort(reverse=True)

In [56]:
list4

[78, 63, 23, 15, 14, 9, 3, 2, 1, 1]

In [1]:
# all/any
l1=[1,2,3,4,5,6]

# set : jour5

In [2]:
# not duplicate and unordered
s1 = {}
s1

{}

In [3]:
s2 = set()
s2

set()

In [4]:
s3 = {1,3,6,7,8}
s3

{1, 3, 6, 7, 8}

In [5]:
s4 ={1.2, 3.4, 5.6, 2.5}
s4

{1.2, 2.5, 3.4, 5.6}

In [7]:
s5 ={'one', 'two', 'three', 'four'}
s5

{'four', 'one', 'three', 'two'}

In [8]:
s6 ={1,4,5, ('one','two'), (2.5,6.7)}
s6

{('one', 'two'), (2.5, 6.7), 1, 4, 5}

In [10]:
'one' in s5

True

In [11]:
'five' in s5

False

# add, remove update discard , clear, and delete

In [12]:
se ={1,2,3,2.5,5.6,'one', 'tho'}
se

{1, 2, 2.5, 3, 5.6, 'one', 'tho'}

In [14]:
# add
se.add(9)
se

{1, 2, 2.5, 3, 5.6, 9, 'one', 'tho'}

In [16]:
# update 
se.update([10,12,'date'])
se

{1, 10, 12, 2, 2.5, 3, 5.6, 9, 'date', 'one', 'tho'}

In [17]:
# remove 
se.remove(5.6)
se

{1, 10, 12, 2, 2.5, 3, 9, 'date', 'one', 'tho'}

In [18]:
# discard
se.discard("one")
se

{1, 10, 12, 2, 2.5, 3, 9, 'date', 'tho'}

In [20]:
# clear 
se.clear()
se

set()

# set operation : union, intersection, difference

- union
-Intersection
-Difference

In [22]:
a ={1,2,3,4,5,6,7,8}
b= {3,5,6,10,11,14,15}

In [23]:
# union 
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 14, 15}

In [24]:
# Intersection 
a.intersection(b)

{3, 5, 6}

In [25]:
# difference
a.difference(b)

{1, 2, 4, 7, 8}

In [26]:
b.difference(a)

{10, 11, 14, 15}

# Dictionnary

Dictionnary is 
- consist of key and valu separated by : and placed in {}
    key should be always unique 
    - unorderd
    - keys are immutable whereas valus are mutable

#dictinnary 
my = dict()
my

In [30]:
type(my)

dict

In [33]:
my = dict({'a':1, 'b':2, 'c':3})
my

{'a': 1, 'b': 2, 'c': 3}

In [34]:
# Access key
my.keys()

dict_keys(['a', 'b', 'c'])

In [35]:
# access values
my.values()

dict_values([1, 2, 3])

In [36]:
my.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [42]:
my3 = {1: 'one', 2:'two', 3: ['data', 'python', 'maria']}

In [44]:
my3[3][2]

'maria'

# Add ,Remove, and Change of elements

In [51]:
mydict1 = {'Name':'data', 'ID': 12345, 'DOB': 1991, 'Address': 'Hitech'}

In [52]:
mydict1

{'Name': 'data', 'ID': 12345, 'DOB': 1991, 'Address': 'Hitech'}

# If conditionnal statement

In [53]:
# if , else and elif

In [54]:
a= 8
if a> 6:
    print('yes a is greater than 3')

yes a is greater than 3

In [55]:
a=8
if a ==8:
    print('yes a is equal to 8')

yes a is equal to 8

In [57]:
x= 5
if x>6:
    print("5 is biggesr than 4")
    print('im in in block')

In [58]:
x= 5
if x>4:
    print("condition is false")

condition is false

In [59]:
x=11
if (x>10):
    print("i'am in if block")

i'am in if block

# INput function

In [61]:
a = input("entrer une valeur")

entrer une valeur45

In [63]:
type(a)

str

In [64]:
nom =input("entre votre nom")

entre votre nommamam

In [65]:
type(nom)

str

In [66]:
valeur_int = int(input("donne une valeur valeur"))

donne une valeur valeur45

In [67]:
x = int(input("entre value"))
if (x>10):
    print("i'am in if block")
elif (x==6):
    print("i'am in elif block")
elif(x==0):
    print("number is zero")
else: 
    print("i'am in else block")

entre value12
i'am in if block

In [69]:
# Nesting 
x=5
if (x>=5):
    print("im the first block")
    if (x>2):
        print("im the second block")
        if (x==4):
            print("im in the third block")

im the first block
im the second block

In [73]:
x = int(input("entrer la valeur"))
if (x>=5):
    print("im the first block")
    if (x>2):
        print("im the second block")
        if (x==4):
            print("im in the third block")

entrer la valeur5
im the first block
im the second block

In [75]:
a= int(input("entrer une valeur"))
if a%2==0:
    print("a is even multiple number")
    if a%3==0:
        print("a is multiple of 3")
        
    elif a%5==0:
        print("a is multipleof 5")
    else:
        print("i'am in else block")

entrer une valeur10
a is even multiple number
a is multipleof 5

# Loops in python

 - for loops are used to loop

In [1]:
for i in range(3):
    print("hello")

hello
hello
hello

In [5]:
a= ["hi","by"]
for i in a :
    print(a)
print("anselme")

['hi', 'by']
['hi', 'by']
anselme

In [ ]:
snacks =# Nested loops

In [9]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [12]:
#Nested loops 
a= ['red', 'blue', 'green']
b= ['apple', 'banana', 'orange']
for i in a:
    for j in b:
        print(i,j)

red apple
red banana
red orange
blue apple
blue banana
blue orange
green apple
green banana
green orange

In [16]:
l= [1,2,3,4,5,6,7,8,9,0,11,0,12,24,55,47]
for k in l:
    if k%2==0:
        print(k, "is even")
    else:
        print(k, "is not")

1 is not
2 is even
3 is not
4 is even
5 is not
6 is even
7 is not
8 is even
9 is not
0 is even
11 is not
0 is even
12 is even
24 is even
55 is not
47 is not

In [ ]:
i<6
while i<6:
    if i==3:
        break
    1=i+1

In [ ]:
i=0
while i<6:
    i=i+1
    if i==3:
       
    print(i)

In [ ]:
# https://drive.google.com/drive/folders/1tx4zlrkld2m41Yd35g80PWjSYkhyeYPM?usp=drive_link

In [1]:
# syntaxe defintion of function
def name():
    print("hello")
name()

hello

In [3]:
def squrredofnum(a):
    return a**2
squrredofnum(3)

9

In [4]:
def addnum(a,b):
    return a+b
addnum(2,9)

11

# Lambda Function

In [6]:
product = lambda a, b: a*b
print(product(3,9))

27

In [8]:
addition = lambda a: a+56
print(addition(4))

60

# Filter Function

In [11]:
num = [2,3,5,7,8,9,10,12,13]
evens = list(filter(lambda n: n%2==0,num))
print(evens)

[2, 8, 10, 12]

In [12]:
odds = [2,3,5,7,8,9,10,12,13]
evens = list(filter(lambda n: n%2!=0,num))
print(odds)

[2, 3, 5, 7, 8, 9, 10, 12, 13]

# Reduce

In [1]:
from functiontools import reduce

ModuleNotFoundError: No module named 'functiontools'

In [15]:
pip install functiontools

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement functiontools (from versions: none)
ERROR: No matching distribution found for functiontools

In [16]:
from datetime import date

In [17]:
my_date = date(2024,2,4)

In [18]:

my_date

datetime.date(2024, 2, 4)

In [19]:
today1 =date.today()

In [20]:
today1

datetime.date(2024, 2, 4)

In [2]:

#sum the numbers from 1 to 20 using for loop

In [ ]:
number= 20
while (number<0):
    resul